.fixedbtn {
  transform: scale(1.2);
  z-index: 20;
  position: fixed;
  right: 2rem;
  bottom: 3rem;
  transition: 0.3s ease;
}

.fixedbtn:hover {
  transition: all 0.3s linear;
}

.name {
  font-weight: 700;
}

.procardBox {
  margin-bottom: 1rem;
}

.panel {
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 4px;

  .editButton {
    margin-left: 1rem;
  }

  .order {
    border: 1px solid #c1bfbf;
    width: 1rem;
    height: 1rem;
    line-height: 0.95rem;
    text-align: center;
    border-radius: 50px;
    color: #c1bfbf;
    margin-right: 0.5rem;
  }
}

.itemList {
  display: inline-block;
  position: relative;
  padding-right: 1rem;
}

.itemList:last-child {
  padding-right: 0;
}

.resultShow .ant-result-title {
  font-size: 1.2rem;
}

.prescriptionbox {
  display: flex;
  justify-content: center;
}

.prescription {
  width: 520px;
}
